<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <listener>
        <listener-class>cn.minitomcatnio.demo.StartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>echo</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forward</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.ForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wrap</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.WrapServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>echo</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forward</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wrap</servlet-name>
        <url-pattern>/wrap</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>log</filter-name>
        <filter-class>cn.minitomcatnio.demo.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>log</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
