<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <listener>
        <listener-class>cn.minitomcatnio.demo.StartupListener</listener-class>
    </listener>
    <context-param>
        <param-name>appName</param-name>
        <param-value>MiniTomcatNIO</param-value>
    </context-param>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>echo</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookie</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forward</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.ForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wrap</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.WrapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>boom</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.BoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>missing</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.MissingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notfound</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.NotFoundServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>do</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.DoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>greeting</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.GreetingServlet</servlet-class>
        <init-param>
            <param-name>greeting</param-name>
            <param-value>hello from web.xml</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>config</servlet-name>
        <servlet-class>cn.minitomcatnio.demo.ConfigServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>echo</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cookie</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forward</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wrap</servlet-name>
        <url-pattern>/wrap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>boom</servlet-name>
        <url-pattern>/boom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>missing</servlet-name>
        <url-pattern>/missing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notfound</servlet-name>
        <url-pattern>/notfound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>do</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>greeting</servlet-name>
        <url-pattern>/greeting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>config</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/notfound</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>log</filter-name>
        <filter-class>cn.minitomcatnio.demo.LogFilter</filter-class>
    </filter>
    <filter>
        <filter-name>error</filter-name>
        <filter-class>cn.minitomcatnio.demo.ErrorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>log</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>error</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
</web-app>
